@{
    ViewBag.Title = "Home Page";
}

<style>

    #team-info {
        width: 100%;
        margin: 100px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }

        #team-info > * {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
            color: #272B2A;
            justify-self: center;
        }

</style>

<div id="team-info">
    <div id="team-names">
        <p>Mahmoud Elkazzaz</p>
        <p>Deepika Malla</p>
        <p>Bharosha Budhathoki</p>    
        <p>Sangit Poudel</p>
    </div>
    <div id="team-ids">
        <p>12201031</p>
        <p>12100117</p>
        <p>12001796</p>
        <p>12100741</p>
     </div>
</div>